<section id="about"
         class="w-72 bg-gray-50 h-[100vh] translate-x-[-100vw] xl:translate-x-0 fixed z-50"
>
    <img src="{{ asset('build/images/avatar1.webp') }}" alt="avatar"/>
    <h2>Krystian Zieja</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in diam non neque pellentesque
        laoreet. Morbi id blandit metus. Ut auctor, lacus sed condimentum mollis, felis nisi hendrerit enim, vel
        scelerisque eros leo nec risus. Etiam eu feugiat diam.
    </p>
    <button>See Profile</button>
</section>