
<div id="hamburger" class="cursor-pointer z-50 absolute flex flex-col items-center ml-6 mt-6 justify-center gap-1.5 w-auto h-auto xl:hidden">
    <div class="line bg-white w-8 h-1"></div>
    <div class="line bg-white w-8 h-1"></div>
    <div class="line bg-white w-8 h-1"></div>
</div>

<div id="user_info" class="pr-6 md:pr-12 mt-6 absolute w-[100vw] flex items-center justify-end gap-6">
    {% if is_granted('ROLE_USER') %}
        <p class="text-xs md:text-base text-white font-semibold z-50">{{ app.user.name }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/admin" class="z-50 transition-colors hover:bg-blue-800 text-white font-semibold text-xs md:text-base p-1 md:p-2 pr-3 md:pr-5 pl-3 md:pl-5 bg-blue-700">Dashboard</a>
        {% endif %}
        <a class="z-50 transition-colors hover:bg-red-600 text-white font-semibold text-xs md:text-base p-1 md:p-2 pr-3 md:pr-5 pl-3 md:pl-5 bg-red-500" href="/logout">Logout</a>
    {% else %}
        <a class="z-50 transition-colors hover:bg-emerald-600 text-white font-semibold text-xs md:text-base p-1 md:p-2 pr-3 md:pr-5 pl-3 md:pl-5 bg-emerald-500" href="/login">Log In</a>
        <a class="z-50 transition-colors hover:bg-red-600 text-white font-semibold text-xs md:text-base p-1 md:p-2 pr-3 md:pr-5 pl-3 md:pl-5 bg-red-500" href="/register">Register</a>
    {% endif %}
</div>

<section id="about"
         class="flex gap-5 flex-col justify-start items-center p-4 w-72 bg-gray-50 h-[100vh]
         translate-x-[-100vw] xl:translate-x-0 fixed z-50 transition"
>
    <div id="btn" class="w-full flex justify-start xl:hidden">
        <button id="back" class="text-white p-2 pr-3 pl-3 bg-red-500 hover:bg-red-600 transition-colors">
            Go Back
        </button>
    </div>
    <img class="w-[70%]" src="{{ asset('build/images/avatar1.webp') }}" alt="avatar"/>
    <h2 class="font-bold text-xl">Krystian Zieja</h2>
    <p class="text-center text-base text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in diam non neque pellentesque
        laoreet. Morbi id blandit metus. Ut auctor, lacus sed condimentum mollis, felis nisi hendrerit enim, vel
        scelerisque eros leo nec risus. Etiam eu feugiat diam.
    </p>
    <a href="/profile" class="cursor-pointer text-white font-semibold bg-emerald-500 p-2 pr-3 pl-3 transition-colors hover:bg-emerald-600">
        See Profile
    </a>
</section>