<form
        id="admin-form"
        class="flex flex-col gap-4 bg-white p-8 pt-12 pb-12 rounded-xl w-80 md:w-96"
        method="POST"
        action="{{ action }}"
        enctype="multipart/form-data"
>
    {% if mode == 'edit' %}
        <input type="hidden" name="_method" value="PUT" />
    {% endif %}
    <input class="outline-0 p-2 border-solid border-[1px] rounded-lg" required placeholder="title" type="text" name="title" />
    <textarea class="outline-0 p-2 border-solid border-[1px] rounded-lg min-h-32 max-h-64" required placeholder="description" name="description"></textarea>
    <label>Image</label>
    <input required accept=".jpg .png .webp .jpeg" type="file" name="image_file" />
    <button
            class="font-semibold p-2 rounded-xl text-white bg-emerald-500 hover:bg-emerald-600 transition-colors"
            type="submit"
    >
        Add
    </button>
</form>