<nav class="w-[100vw] pr-8 pl-8 bg-emerald-500 flex justify-between items-center">
    <section class="flex gap-3">
        <a class="text-white p-4 font-semibold h-full hover:bg-emerald-600 transition-colors" href="/admin/">Posts</a>
        <a class="text-white p-4 font-semibold h-full hover:bg-emerald-600 transition-colors" href="/admin/add">Add Post</a>
        <a class="text-white p-4 font-semibold h-full hover:bg-emerald-600 transition-colors" href="/admin/edit">Edit Post</a>
    </section>
    <a class="text-white p-4 font-semibold h-full bg-red-500 hover:bg-red-600 transition-colors" href="/">Leave</a>
</nav>