{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <main class="w-[100vw] min-h-[100vh] bg-gray-50">
        <nav class="w-[100vw pr-8 pl-8 bg-emerald-500 flex justify-between items-center">
            <section class="flex gap-3">
                <a class="text-white p-4 font-semibold h-full hover:bg-emerald-600 transition-colors" href="/admin/">Posts</a>
                <a class="text-white p-4 font-semibold h-full hover:bg-emerald-600 transition-colors" href="/admin/add">Add Post</a>
                <a class="text-white p-4 font-semibold h-full hover:bg-emerald-600 transition-colors" href="/admin/edit">Edit Post</a>
            </section>
            <a class="text-white p-4 font-semibold h-full bg-red-500 hover:bg-red-600 transition-colors" href="/">Leave</a>
        </nav>
        <section id="blog-posts" class="flex flex-col items-center gap-6 mt-6">
            {% for post in posts %}
                {% include 'blog/partials/blogCard.html.twig'
                    with {
                    id: post.id,
                    title: post.title,
                    date: post.date,
                    src: post.image,
                    desc: post.description,
                    sliced: 2
                } %}
            {% endfor %}
        </section>
    </main>
{% endif %}
{% endblock %}
