{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <main class="w-[100vw] min-h-[100vh] bg-gray-50">
       {% include 'admin/partials/nav.html.twig' %}
        <section id="blog-posts" class="flex flex-col items-center gap-6 mt-6">
            {% for post in posts %}
                {% include 'blog/partials/blogCard.html.twig'
                    with {
                    id: post.id,
                    title: post.title,
                    date: post.date,
                    src: post.image,
                    desc: post.description,
                    sliced: 2
                } %}
            {% endfor %}
        </section>
    </main>
{% endif %}
{% endblock %}
