{% extends 'base.html.twig' %}

{% block body %}
    <main class="w-[100vw] h-auto min-h-[100vh]">
        <section id="about"
                 class="w-72 bg-gray-50 h-[100vh] translate-x-[-100vw] lg:translate-x-0 fixed z-50"></section>
        <section id="posts" class="w-full h-auto bg-gray-100 min-h-[100vh] flex flex-col items-center">
            <div id="banner" class="relative w-full flex justify-center items-center h-96">
                <h1 class="text-4xl lg:pl-72 absolute text-white z-50 font-bold">Krystian Zieja</h1>
                <h2 class="text-lg lg:pl-72 absolute mt-32 text-white z-50 text-opacity-75 font-normal">
                    FullStack Developer's Blog
                </h2>
                <img
                        class="w-full absolute h-full object-cover object-top grayscale-50 brightness-[0.25]"
                        src="{{ asset('build/images/bg1.jpg') }}"
                        alt="banner background"
                />
            </div>
            <span id="blog-posts" class="w-full flex flex-col items-center translate-y-[-3rem]">
                <section class="post w-[46rem] lg:ml-72 h-auto flex flex-col gap-4 bg-white p-6">
                    <h1 class="text-3xl font-semibold">First Post</h1>
                    <h2 class="text-lg font-normal text-gray-600">12 October 2024</h2>
                    <div id="post-image" class="w-full h-auto">
                        <img class="w-full object-cover" src="{{ asset('build/images/bg1.jpg') }}" alt="bg1" />
                    </div>
                    <p class="text-lg text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis lacus finibus nisi
                        feugiat, efficitur tempor orci imperdiet. Integer eget augue pharetra, blandit augue ac,
                        tristique massa. Etiam fermentum dui quis dolor malesuada, molestie finibus enim venenatis. Nam
                        quis velit enim. {{ "..." }}
                    </p>
                    <section class="w-full flex justify-between items-center mt-6">
                        <button
                                class="transition-colors hover:bg-emerald-600 font-semibold text-white bg-emerald-500 p-2 pr-4 pl-4"
                        >
                            Comments
                        </button>
                        <button
                                class="transition-colors hover:bg-blue-800 font-semibold text-white bg-blue-700 p-2 pr-4 pl-4"
                        >
                            Read More
                        </button>
                    </section>
                </section>
            </div>
        </section>
    </main>
{% endblock %}
