{% extends 'base.html.twig' %}

{% block body %}
    <main class="w-[100vw] h-auto min-h-[100vh]">
        <section id="about" class="w-72 bg-gray-50 h-[100vh] fixed z-50"></section>
        <section id="posts" class="w-full h-auto">
            <div id="banner" class="relative w-full flex justify-center items-center h-80">
                <h1 class="text-4xl lg:pl-72 absolute text-white z-50 font-bold">Krystian Zieja</h1>
                <h2 class="text-lg lg:pl-72 absolute mt-32 text-white z-50 text-opacity-75 font-normal">FullStack Developer's Blog</h2>
                <img
                        class="w-full absolute h-full object-cover object-top grayscale-50 brightness-[0.25]"
                        src="{{ asset('build/images/bg1.jpg') }}"
                        alt="banner background"
                />
            </div>
        </section>
    </main>
{% endblock %}
