{% extends 'base.html.twig' %}

{% block body %}
    <main class="w-[100vw] h-auto min-h-[100vh]">
        <section id="about"
                 class="w-72 bg-gray-50 h-[100vh] translate-x-[-100vw] xl:translate-x-0 fixed z-50"></section>
        <section id="posts" class="w-full h-auto bg-gray-100 min-h-[100vh] flex flex-col items-center">
            {%
                include 'blog/partials/banner.html.twig'
            %}
            <div id="blog-posts" class="w-full flex flex-col items-center translate-y-[-3rem]">
                {%
                    include 'blog/partials/blogCard.html.twig'
                    with {
                        title: 'First Post',
                        date: '12 October 2024',
                        src: 'build/images/bg1.jpg',
                        desc: ''
                    }
                %}
            </div>
        </section>
    </main>
{% endblock %}
